.Home {
  padding: 200px 20px 0;
  margin: auto;
  text-align: center;
}

.Home form {
  margin: auto;
}

.Home .title {
  font-size: 60px;
  margin-bottom: 5px;
}

@media  only screen and (max-width: 450px) {
  .Home .title {
    font-size: 36px;
  }  
}