.MainSearch {
  max-width: 1152px;
  min-height: 700px;
  padding-top: 244px;
  margin: auto;
  text-align: center;
}

.MainSearch div {
  display: inline-block;
}

.MainSearch .title {
  font-size: 60px;
  margin-bottom: 5px;
}