.Result header {
  margin: 35px 0;
  display: flex;
}

.Result header .title {
  font-size: 40px;
  width: 320px;
}

.Result header .title a {
  text-decoration: none;
  color: #000000;
}

.Result header .title span {
  margin-left: 10px;
}

.Result header .headerTitle {
  width: 280px;
  margin: 0 20px;
}

.Result header .headerSearch {
  width: 100%;
  margin: 0 20px;
}

@media  only screen and (max-width: 750px) {
  .Result header {
    display: block;
  }

  .Result header h1 {
    text-align: center;
  }

  .Result header .title {
    width: auto;
  }

  .Result header .headerTitle {
    width: auto;
    margin: 0 20px;
  }

  .Result header .headerSearch {
    width: auto;
  }
}