.Detail {
  display: flex;
}

@media  only screen and (max-width: 800px) {
  .Detail {
    display: block;
  }
  

  .UserDetails {
    width: auto;
  }

  .RepoDetails {
    margin-top: 40px;
    width: 100%;
  }

}