.UserDetails {
  width: 280px;
  margin: 0 20px;

  font-family: Raleway-Light, sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #5c5c5c;
}

.UserDetails .avatar img {
  width: 280px;
  height: 280px;
}

.UserDetails ul li {
  margin: 7px 0;
}

.UserDetails span {
  line-height: 32px;
  margin-left: 7px;
}

.UserDetails .name {
  font-size: 35px;
  color: #000000;
  margin: 0;
}

.UserDetails .username {
  margin: 0;
  margin-bottom: 30px;
}



@media  only screen and (max-width: 450px) {
  .UserDetails {
    margin: auto;
  }
}