

.MainSearch {
  max-width: 1152px;
  min-height: 700px;
  padding-top: 244px;
  margin: auto;
  text-align: center;
}

.MainSearch div {
  display: inline-block;
}

.MainSearch .title {
  font-size: 60px;
  margin-bottom: 5px;
}

.searchBox {
  width: 620px;
  height: 48px;
  border: 1px solid gray;
  padding: 0 15px;
}

.searchButton {
  width: 100px;
  height: 50px;
  
  border: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  background: #ac53f2;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/